<section class="about section">
  <div class="section-inner">
    <h2 class="heading">About Me</h2>
    <div class="content">
      <p>
        Hi, I am Michael. Since I was young I have always enjoyed computers more
        than anything else. Therefore, I decided to go to the Higher Technical
        College for Software Engineering in Perg, Upper Austria. There we focus
        on Frontend- such as Backend-Programming, Project Management and
        Business Education. But the one thing I am really passionate about is
        Project Management. I love to work in an agile team on software
        projects, lead it to the goal. Therefore, I was already a Project
        Manager in three school projects, where we developed Websites, Desktop
        Applications and Mobile Apps. Another thing that really excites me is
        Public Speaking. I enjoy creating presentations and talking in front of
        a bunch of people. On my SlideShare-Profile, you can see some of my
        former presentations from school. I am a very enthusiastic person, able
        to share my motivation with other people. I won´t finish until I achieve
        my tasks, always having the big picture in mind.
      </p>
    </div>
  </div>
</section>
