<section class="section">
  <div class="section-inner">
    <ul class="timeline">
      <li>
        <div class="timeline-item">
          <div class="timeline-image">
            <img
              class="img-circle img-responsive"
              src="img/about/1.jpg"
              alt=""
            />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2009-2011</h4>
              <h4 class="subheading">Our Humble Beginnings</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-item">
          <div class="timeline-image">
            <img
              class="img-circle img-responsive"
              src="img/about/2.jpg"
              alt=""
            />
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>March 2011</h4>
              <h4 class="subheading">An Agency is Born</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit ame
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
