<section class="education section">
  <div class="section-inner">
    <h2 class="heading">Education</h2>
    <ul class="timeline">
      <li>
        <div class="timeline-badge">
          2010
        </div>
        <div class="timeline-panel">
          <h3 class="heading">
            <a href="https://www.vswaldhausen.at/" target="_blank">
              Elementary School in Waldhausen
            </a>
          </h3>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge">
          2014
        </div>
        <div class="timeline-panel">
          <h3 class="heading">
              <a href="https://www.nmswaldhausen.at/" target="_blank">
                Secondary School in Waldhausen
              </a>
          </h3>
        </div>
      </li>
      <li>
        <div class="timeline-badge">
          2019
        </div>
        <div class="timeline-panel">
          <h3 class="heading">
              <a href="https://www.htl-perg.ac.at/" target="_blank">
                College for Software Engineering in Perg
              </a>
          </h3>
        </div>
      </li>
    </ul>
  </div>
</section>
