<section class="latest section">
  <div class="section-inner">
    <h2 class="heading">Latest Projects</h2>
    <div class="content">
      <div class="item row">
        <div class="col-md-4 col-12">
          <img
            class="img-fluid project-image"
            src="assets/images/projects/azdm.png"
            alt="azdm"
          />
        </div>
        <div class="desc col-md-8 col-12">
          <h3 class="title">
            <a>AzDM - Music Recommendation App</a>
          </h3>
          <p class="mb-2">
            The AzDM App is being created during the course of my diploma thesis
            and it generates music recommendations based on the local songs
            stored on your smartphone. </br>
            You can listen to songs stored on you smartphone, get music recommendations by selecting genres you like and use the
            music map to see where in the world people hear the same music as you.
          </p>
          <p>
            <a class="more-link" aria-label="Send email" href="mailto:{{ site.email }}">
            <i class="fas fa-external-link-alt"></i>Contact me for more information</a>
          </p>
        </div>
        <!--//desc-->
      </div>
      <!--//item-->
      
    </div>
    <!--//content-->
  </div>
  <!--//section-inner-->
</section>
<!--//section-->
