<section class="latest section">
  <div class="section-inner">
    <h2 class="heading">Latest Projects</h2>
    <div class="content">
      <div class="item featured text-center">
        <h3 class="title">
          <!-- <a
            href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/velocity-bootstrap-theme-for-startup-products/"
            target="_blank"
            >AzDM</a
          > -->
          AzDM
        </h3>
        <p class="summary">
          A mobile application for generating music recommendations based on the songs stored on your phone.
        </p>
        <div class="featured-image has-ribbon">
          <a
            href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/velocity-bootstrap-theme-for-startup-products/"
            target="_blank"
          >
            <img
              class="img-fluid project-image"
              src="/assets/img/projects/project-featured.png"
              width="100%"
              alt="project name"
            />
          </a>
          <div class="ribbon">
            <div class="text">New</div>
          </div>
        </div>

        <div class="desc text-left">
          <p>
            You can promote your main project here. Suspendisse in tellus dolor.
            Vivamus a tortor eu turpis pharetra consequat quis non metus.
            Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt
            enim, eget iaculis ante dolor non turpis. Ut enim ad minima veniam,
            quis nostrum exercitationem ullam corporis suscipit laboriosam.
          </p>
        </div>
        <!--//desc-->
        <a
          class="btn btn-cta-secondary"
          href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/velocity-bootstrap-theme-for-startup-products/"
          target="_blank"
          ><i class="fas fa-thumbs-up"></i> Back my project</a
        >
      </div>
      <!--//item-->
      <hr class="divider" />
      <div class="item row">
        <a
          class="col-md-4 col-12"
          href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/"
          target="_blank"
        >
          <img
            class="img-fluid project-image"
            src="assets/images/projects/project-1.png"
            alt="project name"
          />
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">
            <a
              href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/"
              target="_blank"
              >Instance - Bootstrap 4 Portfolio Theme for Aspiring Full Stack
              Developers</a
            >
          </h3>
          <p class="mb-2">
            You can put one of your secondary projects here. Suspendisse in
            tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non
            metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui
            tincidunt enim, eget iaculis ante dolor non turpis.
          </p>
          <p>
            <a
              class="more-link"
              href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/instance-bootstrap-portfolio-theme-for-developers/"
              target="_blank"
              ><i class="fas fa-external-link-alt"></i>Find out more</a
            >
          </p>
        </div>
        <!--//desc-->
      </div>
      <!--//item-->
    </div>
    <!--//content-->
  </div>
  <!--//section-inner-->
</section>
<!--//section-->
