<section class="latest section">
  <div class="section-inner">
    <h2 class="heading">Latest Presentations</h2>
    <div class="content">
      <div class="item">
        <h3 class="title">
          <a
            href="//www.slideshare.net/MichaelHinterdorfer/spotify-discover-weekly"
            title="Spotify Discover Weekly"
            target="_blank"
            >Spotify Discover Weekly</a
          >
        </h3>
        <div class="iframe-16x9">
          <iframe
            src="//www.slideshare.net/slideshow/embed_code/key/adS9pTWF1mj2xy"
            frameborder="0"
            marginwidth="0"
            marginheight="0"
            scrolling="no"
            style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
      <div class="item">
        <h3 class="title">
          <a
            href="//www.slideshare.net/MichaelHinterdorfer/datenbanksicherheit"
            title="Datenbank-Sicherheit"
            target="_blank"
            >Database-Security</a
          >
        </h3>
        <div class="iframe-16x9">
          <iframe
            src="//www.slideshare.net/slideshow/embed_code/key/lvEeFiadKJXYCJ"
            frameborder="0"
            marginwidth="0"
            marginheight="0"
            scrolling="no"
            style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
