<section class="projects aside section">
  <div class="section-inner">
    <h2 class="heading">Other Projects</h2>
    <div class="content">
      <div class="item">
        <h3 class="title">
          <a>
            Valentines Day Card
          </a>
          <span class="badge badge-theme">Free</span>
        </h3>
        <p class="summary">
          Because I am a programmer, I do not want to give my girlfriend a
          normal valentine card. That's why I made a digital card with a
          pulsating heart - only with CSS and HTML.
        </p>
        <p>
          <a
            class="more-link"
            href="https://github.com/mhinterdorfer/Valentines-Day"
            target="_blank"
            ><i class="fas fa-external-link-alt"></i>Find out more</a
          >
        </p>
      </div>
      <a
        class="btn btn-cta-secondary"
        href="https://github.com/mhinterdorfer"
        target="_blank"
        >More on GitHub <i class="fas fa-chevron-right"></i
      ></a>
    </div>
    <!--//content-->
  </div>
  <!--//section-inner-->
</section>
<!--//section-->
