<section class="list music aside section">
  <div class="section-inner">
    <h2 class="heading">Favourite podcasts</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li>
          <iframe
            src="https://open.spotify.com/embed/show/1VXcH8QHkjRcTCEd88U3ti"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe>
        </li>
        <li>
          <iframe
            src="https://open.spotify.com/embed/show/02fM1JHpt9HmHGp482K71b"
            width="100%"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe>
        </li>
      </ul>
    </div>
  </div>
</section>
