<section class="resume section">
  <div class="section-inner">
    <h2 class="header">Résumé</h2>
    <div class="content">
      <p>
        <a
          class="button"
          aria-label="Download Resume"
          href="https://drive.google.com/uc?authuser=0&id=1KwjiPJQgLEYqMI8C7nFvW8LEjdZJXqZD&export=download"
          target="_blank"
        >
          Download a copy!</a
        >
      </p>
      <div class="iframe-portrait">
        <iframe
          src="https://drive.google.com/file/d/1KwjiPJQgLEYqMI8C7nFvW8LEjdZJXqZD/preview"
          width="100%"
          style="border: none;"
        ></iframe>
      </div>

      <p>
        Like what you see?
        <a
          class="more-link"
          aria-label="Send email"
          href="mailto:{{ site.email }}"
        >
          <i class="fas fa-external-link-alt"></i>Get in touch.</a
        >
      </p>
    </div>
  </div>
</section>
