<section class="skills aside section">
  <div class="section-inner">
    <h2 class="heading">Skills</h2>
    <div class="content">
      <div class="skillset">
        <div class="item">
          <h3 class="level-title">
            Java
            <span
              class="level-label"
              data-toggle="tooltip"
              data-placement="left"
              data-animation="true"
              title="I worked with Android, JPA, JAX-RS, JavaFX, JSF"
            >
              <i class="fas fa-info-circle">Advanced</i>
            </span>
          </h3>
          <div class="level-bar">
            <div
              class="level-bar-inner"
              data-level="90%"
              style="width: 90%;"
            ></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">
            C#
            <span
              class="level-label"
              data-toggle="tooltip"
              data-placement="left"
              data-animation="true"
              title="I worked with WCF, WPF, Entity Framework"
            >
              <i class="fas fa-info-circle">Advanced</i>
            </span>
          </h3>
          <div class="level-bar">
            <div
              class="level-bar-inner"
              data-level="90%"
              style="width: 90%;"
            ></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">
            TypeScript
            <span
              class="level-label"
              data-toggle="tooltip"
              data-placement="left"
              data-animation="true"
              title="I worked with Angular 7 and Ionic 3"
            >
              <i class="fas fa-info-circle">Intermediate</i>
            </span>
          </h3>
          <div class="level-bar">
            <div
              class="level-bar-inner"
              data-level="70%"
              style="width: 70%;"
            ></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">
            HTML &amp; CSS
            <span
              class="level-label"
              data-toggle="tooltip"
              data-placement="left"
              data-animation="true"
              title=""
            >
              <i class="fas fa-info-circle">Intermediate</i>
            </span>
          </h3>
          <div class="level-bar">
            <div
              class="level-bar-inner"
              data-level="70%"
              style="width: 70%;"
            ></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">
            Python
            <span
              class="level-label"
              data-toggle="tooltip"
              data-placement="left"
              data-animation="true"
              title="Used for statistical data analysis"
            >
              <i class="fas fa-info-circle">Novice</i>
            </span>
          </h3>
          <div class="level-bar">
            <div
              class="level-bar-inner"
              data-level="40%"
              style="width: 40%;"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
