<section class="experience aside section">
  <div class="section-inner">
    <h2 class="heading">Work Experience</h2>
    <div class="content">
      <div class="item">
        <h3 class="title">
          Civil Servant -
          <span class="place"
            ><a
              href="https://gfgf.at/standorte/oberoesterreich/waldhausen"
              target="_blank"
              >Therapiezentrum Waldhausen</a
            ></span
          >
          <span class="year">(July 2019 - now)</span>
        </h3>
        <p>
          Assistance in the care of cerebrally disordered and multiple disabled
          children and adolescents.
        </p>
      </div>
      <div class="item">
        <h3 class="title">
          Software Engineer Internship -
          <span class="place"
            ><a href="https://www.sysco.at/" target="_blank"
              >SYSco GmbH</a
            ></span
          >
          <span class="year">(August 2018)</span>
        </h3>
        <p>
          Developed with VB.Net and DevExpress, WinLine MDP Scripts with VB
          Script.
        </p>
      </div>
      <div class="item">
        <h3 class="title">
          Data Scientist Internship -
          <span class="place"
            ><a href="https://www.jku.at/" target="_blank">JKU Linz</a></span
          >
          <span class="year">(July 2018)</span>
        </h3>
        <p>
          Learned the basics of recommender systems and analyzed the
          <a href="http://www.cp.jku.at/datasets/LFM-1b/" target="_blank"
            >dataset LFM-1b</a
          >
          with Python.
        </p>
      </div>
    </div>
  </div>
</section>
